@model IEnumerable<Hyrabil.Models.SkapaHyrbilar>

@{ ViewData["Title"] = "Lista Av Hyrabilar"; }
<h1>@ViewData["Title"]</h1>


@{ ViewData["Title"] = "Lista av bilr"; }

<h1>Lista av bilar</h1>

<p>
    <a asp-action="Create">Skapa Ny BilHyrning</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Floor
            </th>
            <th>
                Size
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var room in Model)
        {
<tr>
    <td>@room.Namn</td>
    <td>@room.VaxelLadaType</td>
    <td>@room.SittPlatserType</td>
    <td>
        <a asp-action="Delete" asp-route-id="@room.Id">Delete</a>
        <a asp-action="Edit" asp-route-id="@room.Id">Edit</a>
    </td>
</tr>}
    </tbody>
</table>